<table class = "cattbl span12 innerlinks">
  <tr>
    <td class = "pull-left">
      <div >
        <h3>Catalog</h3>
      </div>
    </td>
    <td>
      <div class = "pull-right">
        <%= will_paginate @works %>
      </div>
    </td>
  </tr>
</table>
  <table class="table table-hover pull-left innerlinks">
    <tr >
      <th class = "span1">Image</th>
      <th class = "span1">Title</th>
      <th class = "span1">Year</th>
      <th class = "span3">Notes</th>
      <th class = "span1">Acitons</th>

    </tr>
  
  <% @works.each do |work| %>

    <tr >
      <td >
          <%= link_to(work) do %>
             <%= image_tag work.photo.url(:thumb) %>
          <% end %></td>
      <td><%= work.title %></td>
      <td><%= work.work_dated.year %></td>
      <td><%= truncate(work.notes, :length => 280) %></td>
      <td><%= link_to 'Show', work %><br>
      <%= link_to 'Edit', edit_work_path(work) %><br>
      <%= link_to 'Remove', work, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
    
  <% end %>
  </table>
 

<table class = "cattbl span12 innerlinks">
  <tr>
    <td class = "pull-left">
      <div >
        <h5><%= link_to "New Work", new_work_path %></h5>
      </div>
    </td>
    <td>
      <div class = "pull-right">
        <%= will_paginate @works %>
      </div>
    </td>
  </tr>
</table>



