<div class ="offset1"><h3>Catalog</h3></div>
<div class = "offset1" >
  <table width = "400px" border = "1px">
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>P image</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @works.each do |work| %>
    <tr>
      <td><%= work.title %></td>
      <td><%= work.work_dated.year %></td>
      <td><%= work.p_image %></td>
      <td><%= work.notes %></td>
      <td><%= link_to 'Show', work %></td>
      <td><%= link_to 'Edit', edit_work_path(work) %></td>
      <td><%= link_to 'Destroy', work, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
<br />

<%= link_to 'New Work', new_work_path %>
</div>