<div class ="offset1 innerlinks">
	<p id="notice"><%= notice %></p>

	<p>
	  <h2><%= @work.title %></h2>
	</p>
	<p>
	  <b>Date:</b>
	  <%= @work.work_dated.year %>
	  <br>
	  <%= image_tag @work.photo.url %>
	</p>

	<p>
	  <b>Notes:</b>
	  <%= @work.notes %>
	</p>


	<%= link_to 'Edit', edit_work_path(@work) %> |
	<%= link_to 'Back', works_path %> |


</div>